@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-text-color: 73, 76, 107;
    --secondary-text-color: 209, 210, 218;
    --assisting-text-color: 148, 149, 165;
    --selected-text-color: 58, 124, 253;
    --primary-bg-color: 250, 250, 250;
    --list-bg-color: 255, 255, 255;
    --white-color: 255, 255, 255;
  }

  .dark-theme {
    --primary-text-color: 200, 203, 231;
    --secondary-text-color: 77, 80, 103;
    --assisting-text-color: 91, 94, 126;
    --selected-text-color: 58, 124, 253;
    --primary-bg-color: 23, 24, 35;
    --list-bg-color: 37, 39, 61;
    --white-color: 255, 255, 255;
  }
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.dark-theme #dark-header {
  display: block;
}

.dark-theme #light-header {
  display: none;
}

.dark-theme #light-mode {
  display: block;
}

.dark-theme #dark-mode {
  display: none;
}

.checkbox {
  @apply appearance-none mr-2 w-[20px] h-[20px] rounded-full checked:bg-gradient-to-r from-gradientOne to-gradientTwo ring-1 ring-gray-300;
}

.todo-item {
  @apply flex flex-row items-center justify-between w-full h-[50px] bg-listBgColor text-base px-4 border-b-[1px] border-[#979797];
}
.todo-footer {
  @apply flex flex-row items-center justify-between w-full h-[50px] bg-listBgColor text-base px-4;
}
.todo-footer-menu {
  @apply flex flex-row items-center justify-center w-full h-[50px] bg-listBgColor text-base px-4 shadow-xl rounded-lg;
}

.menu .selected {
  @apply text-selectedTextColor;
}

/* .checkbox:checked.todo-text {
  @apply line-through text-secondaryTextColor;
} */
