@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-text-color: 73, 76, 107;
    --secondary-text-color: 209, 210, 218;
    --assisting-text-color: 148, 149, 165;
    --selected-text-color: 58, 124, 253;
    --primary-bg-color: 250, 250, 250;
    --list-bg-color: 255, 255, 255;
    --white-color: 255, 255, 255;
  }

  .dark-theme {
    --primary-text-color: 200, 203, 231;
    --secondary-text-color: 77, 80, 103;
    --assisting-text-color: 91, 94, 126;
    --selected-text-color: 58, 124, 253;
    --primary-bg-color: 23, 24, 35;
    --list-bg-color: 37, 39, 61;
    --white-color: 255, 255, 255;
  }
}
